/* ID styling */
#headerStyle {
    margin: -50px 50px;
    margin-right: 15px;
    font-size: x-large;
    text-align: center;
}

#headshot {
    height: 350px;
    object-fit: cover;
    border-radius: 25%;
}

#clubSection {
    background-color: dimgray;
    border-radius: 10px;
}

#educationSection {
    background-color: dimgray;
    border-radius: 10px;
}

#courseworkSection {
    background-color: dimgray;
    border-radius: 10px;
}

#skillsSection {
    background-color: dimgray;
    border-radius: 10px;
}

#projectsSection {
    background-color: dimgray;
    border-radius: 10px;
}

#skillsList {
    display: flex;
    justify-content: space-evenly;
}

#skillsList li {
    display: flex;
}

#skillsList li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

#skillsList li a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#courseworkList {
    padding-left: 0;
    text-align: center;
}

#courseworkList li {
    display: block;
    font-size: x-large;
}

#courseworkList li a {
    text-decoration: none;
}

#courseworkList li a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

/* CLASS styling */
.align-right {
    text-align: right;
    white-space: nowrap;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.hover-img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.project_text {
    width: auto;
    margin: 25px;
    font-size: 22px;
}

/* SELECTOR styling */
body {
    margin: 75px 125px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #F9FAFB;
}

a:link {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    font-weight: bolder;
}

div h3 {
    color: black;
    font-weight: normal;
    font-size: large;
}

h3 {
    color: #1E40AF;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

table {
    width: 100%;
}

tr, li {
    color: #4B5563;
}

td, li {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
}